<!-- Button that will be used to route to create component. Once it's clicked it will execute a function created in app.component.ts file -->
<input type="button" value="Create" routerLink="create" routerLinkActive="active" onsubmit="gotoCreate()">
<!-- Button that will be used to route to read component. Once it's clicked it will execute a function created in app.component.ts file -->
<input type="button" value="Read" routerLink="read" routerLinkActive="active" onsubmit="gotoRead()">

<router-outlet></router-outlet>
<!-- this is used to enable the routing/navigation in our html page.Means this page can have routes -->